.btn__primary{
  background-color: hsl(122deg 57% 59%);
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  height: 40px;
  width: 60px;
  color: #fff;
  margin-top: 28px;
  cursor: pointer;
  margin-left: 15px;
  font-size: 14px;
}

@media screen and (max-width: 726px) {
.btn__primary{
     width: 100%;
    
    }
  }
