.toolkid_container{
  background: #fff;
}
.form__wapper{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-bottom: 55px;
  box-shadow: 0 4px 2px -2px gray;

}
.form__equaltoSign{

      margin: 0px 15px;
      position: relative;
      top: 18px;
      color: hsl(0deg 0% 49%);

}


.toolkid-form__wrapper{
  padding: 10px;
}

.toolkid__heading{
margin-bottom: 20px;
}

@media screen and (max-width: 726px) {
  .toolkid_container{
    width: 100%;
  }
  .form__wapper{
    flex-direction: column;
    width: 100%;
    margin: 0px 14px;
    position: relative;
    left: -23px;
  }
  .form__equaltoSign{
    display: none;
  }
}
